<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poll Details</title>
    <style>
    td{
        padding: 10px;
    }
    </style>
</head>
<body>
    <a href="{% url 'home' %}"><h2>Go To Home</h2> </a>
    <h1>{{detail.title}}</h1>
    <table border="1" style="border-spacing: 10px; width: 50%;">
        <thead>
            <tr><th>Choice</th> <th>Frequency</th></tr>    
        </thead>
        
        {% for d in choiceset %}
            <tr><td>{{d.choice}} </td> 
            
           <td> {{d.number_of_selection}} </td>

            </tr>
        {% endfor %}
        
    </table>
</body>
</html>